
@{
    Layout = null;
}

<h3> Mvc Kamp Tablo Örneği - Kategori</h3>
<br />

<table class=" table-bordered">
    <tr>
        <th> Kategori Id</th>
        <th> Kategori Adı</th>
        <th> Kategori Açıklaması</th>
        <th> Kategori Durumu</th>
    </tr>

    <tr>
        <td>asddas</td>
        <td>asddas</td>
        <td>asddas</td>
    </tr>
</table>
