<section class="gallery py-md-5 py-3" id="projects">
    <div class="gallery-inner container py-md-5 pb-3">
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Proje Görselleri</h3>
        <div class="row">

            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f1.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f1.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 1</h3>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f2.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f2.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 2</h3>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f3.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f3.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 3</h3>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f4.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f4.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 4</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f5.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f5.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 5</h3>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f6.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f6.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 6</h3>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f7.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f7.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 7</h3>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f8.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f8.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 8</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Vitrin/web/images/f9.png">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Vitrin/web/images/f9.png" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 9</h3>

                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!--end portfolio-area -->
        </div>
        <!-- //gallery container -->
    </div>
</section>
