

<header class="index-banner" id="home">
    <!-- nav -->

    <nav class="main-header d-flex">
        <div id="brand">
            <div id="logo">
                <a href="index.html">
                    <i class="fas fa-crosshairs"></i>
                </a>
            </div>
            <div id="word-mark">
                <h1>
                    <a href="index.html">Recognize</a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>

            <ul class="text-center nav-honey">
                <li>
                    <a class="scroll" href="#home">Ana Sayfa</a>
                </li>
                <li>
                    <a class="scroll" href="#about">Geliştirme Alanları</a>
                </li>
                <li>
                    <a class="scroll" href="#services"> Hakkında</a>
                </li>
                <li>
                    <a class="scroll" href="#projects">Görseller</a>
                </li>
                <li>
                    <a class="scroll" href="#contact">İletişim</a>
                </li>
                <li>
                    <a href="/Default/Headings/1">Sözlük</a>
                </li>
                <li class="login">
                    <button type="button" class="btn login-btn text-uppercase " data-toggle="modal" data-target="#exampleModalCenter">
                        Giriş Yap
                    </button>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>

    <!-- //nav -->
    <!-- banner -->


        <div class="banner_section">
            <div class="snow-container">
                <div class="snow foreground"></div>
                <div class="snow foreground layered"></div>
                <div class="snow middleground"></div>
                <div class="snow middleground layered"></div>
                <div class="snow background"></div>
                <div class="snow background layered"></div>
            </div>



            <div class="banner-info text-uppercase">
                <h6 data-aos="fade-right"> Muhammet Eren Turgut </h6>
                <h5 data-aos="fade-right"> Merhaba Sözlüğe Hoş Geldiniz </h5>
                <h3 data-text="Mvc Proje Kampı"> Mvc Proje Kampı  </h3>
                <div class="ban-buttons mt-3" data-aos="fade-right">
                    <a class="btn work scroll" href="#projects">Görseller</a>
                    <a class="btn work scroll active" href="#contact">İletişim</a>
                </div>

            </div>

        </div>
    <!-- //banner -->
</header>
