@using EntityLayer.Concrate
@model List<Category>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-hover">
    <tr>
        <th> #</th>
        <th> Kategori Adı</th>
        <th> Kategori Açıklaması</th>
        <th> Sil</th>
        <th> Güncelle</th> 
        <th> Başlıklar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td><a href="/AdminCategory/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a> </td>
            <td><a href="/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a> </td>
            <td><a href="/AdminCategory/" class="btn btn-warning">Başlıklar</a> </td>
        </tr>
    }

</table>
<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori</a>



